@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-controller="User" asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Login" for="exampleInputEmail1" class="form-label">Email address</label>
        <input asp-for="Login" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" asp-validation-for="Login"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" for="exampleInputPassword1" class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
        <span class="text-danger" asp-validation-for="Login"></span>
    </div>
    <button type="submit" class="btn btn-primary">Sig in</button>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}